body {
  margin: 80px auto;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  background-color: #323232;
}

nav ul,
footer ul {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 2em;
    color: greenyellow;
  }
}
.navbar-dark .navbar-brand {
  color: greenyellow;
}
.navbar-dark .navbar-nav .nav-link {
  color: greenyellow;
}
footer ul li {
  display: inline;
}

a {
  text-decoration: none;
  color: greenyellow;
}
.btn-info {
  color: #000;
  background-color: greenyellow;
  border-color: greenyellow;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
p,
li {
  color: white;
}

h1 {
  font-size: 3em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  color: white;
}

p {
  font-size: 1.5em;
  line-height: 1.4em;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.postitem {
  padding: 90px 0;
}

.postitem .meta {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.postitem .meta .category {
  display: none;
  float: left;
}

.postitem .meta .category a {
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  padding: 3px 15px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background: #0085c3;
}

.postitem .meta .category:first-child {
  display: initial;
}

.postitem .meta .date,
.postitem .meta .issticky,
.postitem .meta .readtime {
  float: right;
  margin-top: 3px;
}

footer.main {
  overflow: hidden;
  padding: 20px;
  background: #242526;
}

footer.main .social {
  float: right;
  overflow: hidden;
  margin: 5px 0;
  padding: 0;
  list-style: none;
}

footer.main .social li {
  display: block;
  float: left;
  border-left: 1px solid #4b4b4b;
}

footer.main .social li:first-child {
  border: 0;
}

footer.main .copyright {
  float: left;
  padding: 0;
  border: 0;
}

.widget {
  padding: 35px 0 0;
}

footer.main .copyright {
  float: left;
  padding: 0;
  border: 0;
}

footer.main .copyright .main {
  line-height: normal;
  margin: 0 0 10px;
  letter-spacing: -0.5px;
  color: #ced3d8;
}

.wrapper {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

.read-more {
  text-transform: uppercase;
  font-size: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.avatar {
  border-radius: 50%;
}

footer.main .copyright .alt,
footer.main .copyright .main,
nav.pagination .next,
nav.pagination .previous,
nav.pagination ul.page-numbers li {
  font-family: input-sans-condensed, Arial, Sans-Serif;
  font-size: 13px;
}
.blinking-cursor {
  font-weight: 900;
  font-size: 20px;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: greenyellow;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: greenyellow;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: greenyellow;
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: greenyellow;
  }
}

@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: greenyellow;
  }
}
.masthead {
  height: 70vh;
  min-height: 400px;
  background-image: url("/img/Jorge\ Censi.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -30px;
}
