<!doctype html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/favicon.ico">
    {% seo %}

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                > jorge_censi <span class="blinking-cursor">|</span></a>
            <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/books">Reading</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/music">Playlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/binary.html">Binary Puzzle</a>
                    </li>
                    <!-- <li class="nav-item">
                            <a class="nav-link" href="/blog" tabindex="-1"
                                aria-disabled="true">Search</a>
                        </li> -->

                    <li class="nav-item"><a class="nav-link" href="http://twitter.com/jorgecensi" target="_blank" class="twitter" title="Twitter"><i class="fab
                                    fa-twitter"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="http://github.com/jorgecensi" target="_blank" class="github" title="GitHub"><i class="fab
                                    fa-github"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="http://linkedin.com/in/jorgecensi" target="_blank" class="linkedin" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

    </nav>
    {{ content }}
    <footer class="main">
        <section class="widget copyright">
            <p class="main">Copyright ©
                <script>document.write(new Date().getFullYear())</script> Jorge Censi - All Rights
                Reserved.</span>
        </section>
        <ul class="social">
            <li class="nav-item"><a class="nav-link" href="http://twitter.com/jorgecensi" target="_blank" class="twitter" title="Twitter"><i class="fab
                            fa-twitter"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="http://github.com/jorgecensi" target="_blank" class="github" title="GitHub"><i class="fab fa-github"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="http://linkedin.com/in/jorgecensi" target="_blank" class="linkedin" title="LinkedIn"><i class="fab
                            fa-linkedin"></i></a></li>
        </ul>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>
