<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">Jorge Censi</a>
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="about.html">About<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/cv/Jorge Luis Censi.pdf" tabindex="-1" aria-disabled="true">CV</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link disabled" href="/blog" tabindex="-1" aria-disabled="true">Blog</a>
                        </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            
                {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                <li>email: <a href="mailto:jorgecensi@gmail.com">jorgecensi@gmail.com</a></li>
                
            </ul>
        </footer>

    </body>
</html>
